<style type="text/css">
  



.card{
  background-color: whitesmoke;
  box-shadow: 0 4px 15px 0 black;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 5px;
  color: black;
  justify-content: center;
}

.ad_image{
  width: 500px;
  height: 500px;
  text-align: center;
  margin-left: 20px;
}

</style>
<br><br><br>
<p id="notice"><%= notice %></p>



    <% @adhubs.each do |adhub| %>


        <div class="card">
          <div class="card-body">
              
              <% unless !adhub.image.persisted? %>
                <%= link_to image_tag(adhub.image, width:'500px',height:'500px'), adhub,class:'ad_image' %><br><br><hr><br>
               <% end %>
             
                <h4 class="card-title"><strong>Title: </strong><%= adhub.title %></h4>
                <p class="card-text"><strong>Description: </strong><%= adhub.description %></p>
                <%= link_to 'View', adhub %>
                <p class="card-text"><small class="text-muted"><strong>Last updated:</strong> <%= adhub.created_at %></small></p>
        </div>

      </div><br><br>

    <% end %>



<br>


